body {
  background-color: #FFF8E7;
}

p {
  color: #4B3D36;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #5A3825;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #5A3825;
  font-size: 1.6rem;
}
.description {
  max-width: 600px;
}
.left {
  width: 600px;
  float: left;
}
