body {
  background-color: #FFF8E7;
}

p {
  color: #4B3D36;
}
h1 {
  font-family: 'Pacifico', cursive;
  color: #5A3825;
  text-align: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #5A3825;
}
h1, h2 {
  color: #5A3825; 

p {
  color: #4B3D36;
}
